<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/app.css" type="text/css" />
	<link rel="stylesheet" href="css/app_tb.css" type="text/css" />
    <link rel="stylesheet" href="css/app_pc.css" type="text/css" />
	<link rel="stylesheet" href="css/animacion.css" type="text/css" />
    <title>THE PRINT ART</title>
</head>
    <body>
        <header id="cabecera">
            <input type="checkbox" class="checkbox" id="menu-toggle" />
            <label for="menu-toggle" class="menu-toggle center">&equiv;</label>
                <nav>
                    <div class="identificador" id="menuPrincipal">
                        <a class="opcion" href="index.html">Inicio</a>
                        <a class="opcion" href="#art">Arte</a>
                        <a class="opcion" href="#Sobre">Sobre Nosotros</a>
                        <a class="opcion" href="html/tienda.html">Tienda</a>
                        <a class="opcion" href="#contacto">Contáctanos</a>
                        <div id="menuUsuario">
                            <label v-if="productoCarrito>0" class="notiCar">{{productoCarrito}}</label>
                            <a class="opcion" href="html/carrito.html"><img src="img/ico/cart.png" alt=""></a>
                        </div>
                    </div>
                </nav>
        </header>

        <section class=" center" id="home">
            <img id="bannerTB" src="img/THE PRINT ART.png" alt="">        
            <img id="banner" src="img/THE PRINT ART.png" alt="">        
        </section>
        
        <!--<section class="contenido center" id="image"><article class="arIm" id="buscarfuera"><h2>BÚSQUEDA DE ARTE</h2><input type="text"></article><figcaption><article class="arIm" id="buscar"><h2>BÚSQUEDA DE ARTE</h2><input type="text"></article><img src="img/peace.png" alt=""></figcaption></section>-->

        <section class="contenido" id="art">
            <article>
                <h2 class="center">ARTE</h2>
                <ul>
                    <a href="#art" ><li><img class="marco" src="img/cream.jpg" alt=""></li></a>
                    <a href="#art" ><li><img class="marco" src="img/paper.png" alt=""></li></a>
                    <a href="#art" ><li><img class="marco" src="img/insect.jpg" alt=""></li></a>
                    <a href="#art" ><li><img class="marco" src="img/utility.png" alt=""></li></a>
                </ul>
                <button class="btn" href="#art">Ver Más</button>
            </article>
        </section>

        <section class="contenido" id="Sobre">
            <div> 
                <figcaption><img src="img/flower.png" alt=""></figcaption>
                <article>
                    <h2>SOBRE NOSOTROS</h2>
                    <p>La tienda siempre está evolucionando, con una amplia variedad de obras de arte originales de alta calidad, impresiones, pegatinas y más de artistas independientes.</p>
                    <a href="#Sobre" class="btn">Ver Más</a>
                </article>
            </div>
        </section>
        <div id="cart"></div>

        <section class="contenido identificador" id="Tienda">
            <h2 class="center">TIENDA</h2>
            <article v-for="(producto, index) in productos" :key="index" v-if="producto.favorito" class="marco">
                <a v-bind:href="'html/productos/'+[producto.id]+'.html'">
                    <figcaption>
                        <img v-bind:src="[producto.foto]" alt="">
                    </figcaption>
                </a>
                <div id="datos">
                    <h3>{{producto.nombre}}</h3>
                    <h5><a href="">{{producto.categoria}}</a></h5>
                </div>
                <div id="precio">
                    <p>${{producto.precio}}</p>
                    <p v-if="producto.descuento>0" id="descuento">-%{{producto.descuento}}</p>
                </div>
                <div class="botones">
                    <a class="mandar" @click="agregarAlCarrito(producto)">Añadir al carrito</a>
                    <button class="btn" v-bind:href="'html/productos/'+[producto.id]+'.html'">Ver Más</button>
                </div>
            </article>
            <!--
            <article v-for="producto in productos" class="marco">
                <figcaption><img src="img/cream-phone.png" alt=""></figcaption>
                <h3>Carcasa Celular</h3>
                <div id="precio">
                    <p>Precio: 20$</p>
                    <p id="descuento">-%10</p>
                </div>
                <button class="mandar" href="#Tienda">Añadir al carrito</button>
                <button class="btn" href="#Tienda">Ver Más</button>
            </article>    
            <article class="marco">
                <figcaption><img src="img/insect-throw.png" alt=""></figcaption>
                <h3>Cojín</h3>
                <div id="precio">
                    <p>Precio: 20$</p>
                </div>
                <button class="btn" href="#Tienda">Ver Más</button>
            </article>
            <article class="marco">
                <figcaption><img src="img/paper-cap.png" alt=""></figcaption>
                <h3>Cachucha</h3>
                <div id="precio">
                    <p>Precio: 20$</p>
                </div>
                <button class="btn"  href="#Tienda">Ver Más</button>
            </article>
            <article class="marco">
                <figcaption><img src="img/utlility_notebook.png" alt=""></figcaption>
                <h3>Libreta</h3>
                <div id="precio">
                    <p>Precio: 20$</p>
                    <p id="descuento">-%10</p>
                </div>
                <button class="btn"href="#Tienda">Ver Más</button>
            </article>-->
        </section>

        <footer id="contacto">
            <div><p>COPYRIGHT@2022 - Luis Angel Suarez Flores</p></div>
            <div><p>Tu Tienda de Ropa Artistica</p></div>
            <div id="a_social">
                <p>Visita nuestras Redes Sociales</p>
                <a href="#Instagram">g</a>
                <a href="#Facebook">f</a>
                <a href="#Twitter">t</a>
            </div>
        </footer>

        <script src="java/vue.js"></script>
        <script src="java/codigo.js"></script>
    </body>
</html>